<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Nos Casamos</h1>
      <h3 class="fw-normal text-muted mb-3">Abigail y Cesar</h3>
     <div class="d-flex gap-3 justify-content-center lead fw-normal">
       
         cuenta regresiva
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        
        {{!-- <a class="icon-link" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
      </div> 
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">musica pagina</h2>


          <div class="audio-player">
           <p class="text-start">hace click</p>
          <audio id="audio" controls>
            <source src="home.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div> 
        
 



        


      
       
             <p class="text-start">
       <button type="button"  class="btn btn-lg btn-primary btn-block shadow-lg " style="background-color: #808080; border-color: #808080;" id="devocionales" >
         <i class="bi bi-music-note-beamed me-2"></i>
        para mas detalles
       </button>

      
        </p>
              
      
      </div>
    </div>
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
   
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">canciones</h2>
        <p class="lead">elegi tus canciones favoritas</p>
        
       
    
 

        
 





      </div>
       <p class="text-start">
       <button type="button"  id="confirmar" class="btn btn-lg btn-primary btn-block shadow-lg pulse-animation" style="background-color: #808080; border-color: #808080;">
         <i class="bi bi-music-note-beamed me-2"></i>
         confirmar
       </button>

       
        </p>
    </div>
  </div>

 
</main>
